<div id="shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b" class="shopify-section image-with-text image-with-text-1"> <section class="section
  oversatisfycustomersection
  is-width-wide
  
    has-gutter-enabled
  
  
    equal-columns--outside-trim
  
  "> <div class="container
"> <div class="image-with-text__image-column
image-with-text__column

one-half

medium-down--one-whole
column
is-flex
is-align-center
has-image-crop
image-crop--center" id="shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b-1687884724e59f4bed-0"> <a class="image-with-text__link" href="/collections/all-day-diabetic-sock-collection"> <div class="image-element__wrap" style="background: none;"> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1600x.webp?v=1687885172" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_5000x.webp?v=1687885172 5000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_4500x.webp?v=1687885172 4500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_4000x.webp?v=1687885172 4000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_3500x.webp?v=1687885172 3500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_3000x.webp?v=1687885172 3000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_2500x.webp?v=1687885172 2500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_2000x.webp?v=1687885172 2000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1800x.webp?v=1687885172 1800w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1600x.webp?v=1687885172 1600w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1400x.webp?v=1687885172 1400w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1200x.webp?v=1687885172 1200w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1000x.webp?v=1687885172 1000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_800x.webp?v=1687885172 800w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_600x.webp?v=1687885172 600w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_400x.webp?v=1687885172 400w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_200x.webp?v=1687885172 200w," data-aspectratio="648/1152" srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_5000x.webp?v=1687885172 5000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_4500x.webp?v=1687885172 4500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_4000x.webp?v=1687885172 4000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_3500x.webp?v=1687885172 3500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_3000x.webp?v=1687885172 3000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_2500x.webp?v=1687885172 2500w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_2000x.webp?v=1687885172 2000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1800x.webp?v=1687885172 1800w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1600x.webp?v=1687885172 1600w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1400x.webp?v=1687885172 1400w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1200x.webp?v=1687885172 1200w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1000x.webp?v=1687885172 1000w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_800x.webp?v=1687885172 800w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_600x.webp?v=1687885172 600w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_400x.webp?v=1687885172 400w,
//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_200x.webp?v=1687885172 200w," style=";" sizes="940px" src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_1600x.webp?v=1687885172" width="648" height="1152"></div> <noscript class="noscript"> <img class="image-with-text__image" src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circufiber_Stories-2_1000x_2c2dd0ba-63c3-4711-83b1-ba1ebcfee5ea_2000x.webp?v=1687885172" alt=""></noscript></a></div> <style data-shopify="">
#shopify-section-19ff8779-a2e9-4314-8337-c1ce44dac9a5 {
  background-color:;
}

#shopify-section-19ff8779-a2e9-4314-8337-c1ce44dac9a5 .image-with-text__heading {
color:#193958;
}#shopify-section-19ff8779-a2e9-4314-8337-c1ce44dac9a5 

.image-with-text__text {
color:#193958;
}</style> <div class="image-with-text__text-column
        image-with-text__column
        




one-half


        medium-down--one-whole
        column
        has-padding-left
        has-padding-right
        
        is-flex
        is-flex-wrap
        is-justify-center
        is-align-center
        " id="shopify-section-19ff8779-a2e9-4314-8337-c1ce44dac9a5"> <div class="image-with-text__wrapper is-flex
          is-flex-wrap
          is-justify-center
          is-align-center" style="gap: 30px;"> <div class="number-customers"><h3 class="image-with-text__heading text-align-center is-regular">
Over 18,000 <br>Satisfied Customers</h3></div> <div class="cust-reviews is-flex image-with-text__text text-align-center content"> 
<div class="cust-card">
<p><strong>Making Walking Comfortable</strong></p> <p><em>"The socks are great, making walking comfortable, when I'm wearing them I don't feel the usual discomfort I feel in my feet while walking, I end up wearing them most of the day when I have them on."</em><br /> - Robert T.</p> 
</div>

<div class="cust-card">
<p><strong>What a Game Changer</strong></p> <p><em>"These sock are great. I've got feeling in my feet again when wearing them. It's a pretty awesome change."</em><br /> - Daniel M.</p> 
</div>


<div class="cust-card"> <p><strong>Love These Socks</strong></p> <p><em>"I really love these socks, comfortable and fit me well. I will definitely be ordering more."</em><br />- JoEllen H.</p></div></div> <div class="buttons is-center"> <a href="/collections/circufiber-challenge-socks" class="button button--primary ">Get Started!</a></div></div></div></div></section></div>






{% style %}
  .circufiber-customer-reviews {
    display: flex;
    flex-direction:column;
    gap:0;
    padding:60px 0;
  }
  #shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b {
    max-width:1366px;
    margin:0 auto;
  }
  .number-customers {
    margin-bottom:60px;
  }
  .cust-reviews.is-flex {
    gap:30px;
    flex-direction:column;
  }
  .cust-card {
    margin-bottom:40px;
  }
  .cust-card p {
    margin-bottom:0px !important;
    padding:0 20px;
  }




  @media(max-width:1366px) {

    #shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b {
    max-width:90%;
    margin:0 auto;
  }


  @media(max-width:480px) {
    .number-customers {
    margin-bottom:10px;
  }
  }

  }
{% endstyle %}
 




{% schema %}
{
  "name": "Customer Reviews",
  "class": "circufiber-customer-reviews",
  "settings": [

    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews",
      "category": "Content"
    }
  ]
}
{% endschema %}
