

section.section.thecircufiberdifferenceimagesection.is-width-standard.has-gutter-enabled{    width: 60%;}
section.section.thecircufiberdifference.is-width-standard {
    padding-bottom: 20px;
}
.section.our.promise.is-width-standard.has-background {
  width: -moz-available;
  max-width: -moz-available;
}
.section.whyweeksgirlbgsection.is-width-standard.has-background {
  width: -moz-available;
  max-width: -moz-available;
}
.section.thecircufiberdifference.is-width-standard{
  width: -moz-available;
  max-width: -moz-available;
}
.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled{
  width: -moz-available;
  max-width: -moz-available;
}
.section.tophealthexpertsection.is-width-standard{
  width: -moz-available;
  max-width: -moz-available;
}
.section.tophealthexpertsectioncontentarea.is-width-standard{
  width: -moz-available;
  max-width: -moz-available;
}
.section.acceptedsection.is-width-standard.has-gutter-enabled{
  width: -moz-available;
  max-width: -moz-available;
}
.section.tryusriskfreehere.is-width-standard{
  width: -moz-available;
  max-width: -moz-available;
}
.section.freeshippingsection.is-width-standard.has-background{
  width: -moz-available;
  max-width: -moz-available;
}
.footebannergirlsection a.button.button--secondary {
    width: 216px;
    height: 60px;
    font-size: 22px;
    border-radius: 50px;
    color: #fff;
    background-color: #0a3a5b;
    border-color: #0a3a5b;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim h3.image-with-text__heading.text-align-center.is-regular {
    font-weight: 700;
    padding-bottom: 35px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim .image-with-text__text.text-align-center.content strong {
    font-size: 30px;
}

section.section.Meet.the.World\'s.Most.Scientifically.Advanced.Diabetic.Sock.title.is-width-wide h2.heading-section__heading.title {
    font-weight: 700;
}
section.section.featuredthreecolsection.is-width-wide.has-gutter-enabled .image-element__wrap img.transition--color.lazyautosizes.lazyloaded {
    max-height: 250px;
    max-width: calc(3000 / 3000 * 250px);
}
section.section.Meet.the.World\'s.Most.Scientifically.Advanced.Diabetic.Sock.title.is-width-wide {
    background: #b5c4d0;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim h3.image-with-text__heading.text-align-center.is-regular:before {
    content: "\2605\2605\2605\2605\2605";
    display: block;
    color: #ffb829;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim a.button.button--primary {
    width: 216px;
    height: 60px;
    font-size: 22px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim a.button.button--primary:hover {
    transform:scale(1.02);
    transition:0.2s;
}
section.section.shoppallsectionthreeproducts.is-width-standard.has-background .buttons.is-left {
    text-align: center;
    justify-content: center;
}
section.section.thecircufiberdifference.is-width-standard {
    padding-bottom: 10px !important;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled {
    padding-top: 10px;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled .image-with-text__text-column.image-with-text__column.one-third.medium-down--one-whole.column.has-padding-left.has-padding-right.is-flex.is-flex-wrap.is-justify-center.is-align-center {
    padding: 0px;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled h3.image-with-text__heading.text-align-center.is-regular {
    color: #ffffff;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled p {
    color: #ffffff;
    min-height:144px;
}
.section.has-background {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled{
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled .container {
    max-width: 1200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
section.section.thecircufiberdifferenceimagesection.is-width-standard.has-gutter-enabled img {
    width: 40%;
}
section.section.thecircufiberdifferenceimagesection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim .container {
    max-width: 1200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard{
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.sockimagesection.is-width-standard.has-gutter-enabled {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.tophealthexpertsection.is-width-standard{
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere {
    margin-bottom: 0px;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard{
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.acceptedsection.is-width-standard.has-gutter-enabled{
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.footebannergirlsection.is-width-wide.under-overlay-menu.mobile-text--over-media .caption-content.text-align-center {
    background-color: transparent !important;
}
.shopify-section {
    width: 100%;
}
section.section.thecircufiberdifference.is-width-standard {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}
section.section.takethecircufiber.logo.image.section.is-width-standard.has-background .container.is-flex.is-justify-center img{
    max-width: 250px;
}

section.section.footebannergirlsection.is-width-wide.under-overlay-menu.mobile-text--over-media.has-border img {
    height: 650px !important;object-fit: cover;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn h3.image-with-text__heading.text-align-center.is-regular:before {
    content: "\2605 \2605 \2605 \2605 \2605";
    display: block;
    color: #ffb829;
}
section.section.our.promise.section.is-width-standard.has-background .section.is-width-wide {
    width: 100%;
    max-width: -webkit-fill-available;
}
section.section.our.promise.section.is-width-standard.has-background section.section.is-width-standard.has-background {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
}
section.section.our.promise.section.is-width-standard.has-background section.section.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .one-half {
    width: calc(50% - 0px);
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .image-with-text__text.text-align-center.content p strong {
    font-size: 30px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .buttons.is-center a {
    width: 216px;
    height: 60px;
    font-size: 22px;
}
section.section.footebannergirlsection.is-width-wide.under-overlay-menu.mobile-text--over-media .image-with-text-overlay__buttons.buttons.is-justify-center a{
    width: 216px;
    height: 60px;
    font-size: 22px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .image-with-text__text.text-align-center.content em {
    font-size: 20px;
    line-height: 24px;
}
section.section.how.it.works.section.is-width-standard .heading-section__subheading.subtitle p {
    font-size: 22px;
}

.okeReviews .okeReviews-reviewsCarousel-review-content-heading {
    font-size: 18px !important;
}
.okeReviews {
    font-size: 16px !important;
}
section.section.circufiberchallengesocks.section.is-width-standard .heading-section__preheading.subtitle p {
    font-size: 18px;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background h2 {
    font-size: 28px;
    font-weight: 700;
}
.productsinglepageslughere {
    text-align: center;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background section.section.is-width-standard.has-background {
    width: auto;height: 1162px;
    max-width: fit-content;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere .columnweeksecone {
    text-align: left;
    max-width: 260px;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled section.section.is-width-standard.has-gutter-enabled {
    max-width: fit-content;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere .columnweeksectwo {
    text-align: center;
    max-width:200px;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere p {
    font-size: 18px;
    line-height: 26px;
}
section.section.shoppallsectionthreeproducts.is-width-standard.has-background section.section.is-width-standard.has-background .buttons.is-left {
    text-align: center;
    align-items: center;
    justify-content: center;
}
section.section.shoppallsectionthreeproducts.is-width-standard.has-background section.section.is-width-standard.has-background .buttons.is-left a.button.button--primary {
    color: #0a3a5b;
    background: transparent;
    border-top: 0px; font-size: 22px;
    border-left: 0px;
    border-right: 0px;font-weight: bold;border-radius: inherit;
}
div#shopify-section-template--16739955769565__3aae1550-04d9-4447-bf46-813ed3aecacf .columntryriskone {
    text-align: center;
}
section.section.socktextandimagesection.is-width-standard.has-gutter-enabled {
    background: #b5c4d0;
}
section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard {
    background: #b5c4d0;
}
section.section.acceptedsection.is-width-standard.has-gutter-enabled {

}
section.section.sockimagesection.is-width-standard.has-gutter-enabled {
    background: #b5c4d0;
}
section.section.footebannergirlsection.is-width-wide.under-overlay-menu.mobile-text--over-media .caption-content.text-align-center {
    background: transparent;
}
section.section.footebannergirlsection.is-width-wide.under-overlay-menu.mobile-text--over-media a.button.button--primary {
    border-radius: 50px;
}
.bold h2.heading-section__heading.title {
  font-weight: bold;
} 
section.section.thecircufiberdifference.is-width-standard h2.heading-section__heading.title{    font-weight: 700;
color:#fff;}
section.section.circufiberchallengesocks.section.is-width-standard h2.heading-section__heading.title{    font-weight: 700;}
section.section.our.promise.section.is-width-standard.has-background h3.image-with-text__heading.text-align-center.is-regular{    font-weight: 700;}
section.section.shoppallsectionthreeproducts.is-width-standard.has-background {
    padding-top: 20px;
    padding-bottom: 60px;
}
.productsinglepageslughere a {
    border-radius: 50px !important;
    padding-left: 2em;
    padding-right: 2em;
}
.columntryriskone img {
    max-width:150px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn p {
    padding-bottom: 35px;
}
section.section.our.promise.section.is-width-standard.has-background .image-with-text__text-column.image-with-text__column.one-half.medium-down--one-whole.column.has-padding-left.has-padding-right.has-background.is-flex.is-flex-wrap.is-justify-center.is-align-center{
      padding: 100px;
}
section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn h3.image-with-text__heading.text-align-center.is-regular{
  font-weight: 700;padding-bottom: 35px;
}
.button--primary, .button--primary:link, .button--primary:visited, a.button--primary.button, a.button--primary.button:link, a.button--primary.button:visited{
  border-radius: 50px;
}
section.section.thecircufiberdifference.is-width-standard {
    background: #193958;
}
section.section.thecircufiberdifferenceimagesection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim {
    background: #193958;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled{
    background: #193958;
}
section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled h3.image-with-text__heading.text-align-center.is-regular {
    font-size: 25px;
    font-weight: 700;
}
section.section.thecircufiberdifference.is-width-standard, section.section.thecircufiberdifferenceimagesection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim, section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled {
    padding-top: 20px;
    padding-bottom: 60px;
}
section.section.socktextandimagesection.is-width-standard.has-gutter-enabled, section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard, section.section.acceptedsection.is-width-standard.has-gutter-enabled, section.section.sockimagesection.is-width-standard.has-gutter-enabled {
    padding-top: 20px;
    padding-bottom: 60px;
}
section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard h2.heading-section__heading.title {
    font-weight: 700;
}
section.section.tophealthexpertsection.is-width-standard h2.heading-section__heading.title {
    font-weight: 700;
}
section.section.tryusriskfreehere.is-width-standard h2.heading-section__heading.title {
    font-weight: 700;
}
section.section.tophealthexpertsection.is-width-standard {
    background: #193958;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard{
    background: #193958;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__name {
    color: #fff;
    background-color: unset;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__name p,
#shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b .testimonial__description p {
    color:#fff;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__description {
    color: #fff;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__description a {
    color: #fff;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__description {
    padding-top: inherit;
}
section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__name {
    padding-bottom: inherit;
}
section.section.acceptedsection.is-width-standard.has-gutter-enabled {
    padding-top: 60px;
    padding-bottom: 60px;
}
section.section.our.promise.section.is-width-standard.has-background section.section.is-width-standard.has-background {
    width: -webkit-fill-available !important;
    max-width: fit-content;
}

section.section.our.promise.section.is-width-standard.has-background .image-with-text__link{height: 100%!important;}
section.section.our.promise.section.is-width-standard.has-background .image-with-text__text-column {
    margin-left: 0px;
    margin-right: 0px;
}
section.section.our.promise.section.is-width-standard.has-background section.section.is-width-standard.has-background {
    padding-left: 0px;
    padding-right: 0px;
}
section.section.our.promise.section.is-width-standard.has-background .container .column, .container .columns{    margin-right: 0px;}

section.section.thecircufiberdifference.is-width-standard, section.section.thecircufiberdifferenceimagesection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim, section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled, section.section.socktextandimagesection.is-width-standard.has-gutter-enabled, section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard, section.section.acceptedsection.is-width-standard.has-gutter-enabled, section.section.sockimagesection.is-width-standard.has-gutter-enabled{
padding-top: 60px;  
}
section.section.tophealthexpertsection.is-width-standard{
      padding-top: 60px;
}
section.section.reviewscrllsection.is-width-wide {
    background-color: #d1e5f1;
}
section.section.our.promise.section.is-width-standard.has-background {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.challenge-slider .header_image {
    max-width: 400px;
    position: absolute;
    top: -100px;
    right: 0;
}
.disclaimer {
    text-align:center;
    padding-top:40px;
    font-size:13px;
}
#template-index .featured-collection-section .product-thumbnail__title {
    font-size: 27px;
    line-height: 30px;
}

#template-index .featured-collection-section,
#shopify-section-template--16781658816733__d13c2ed6-0c0d-409e-aa9d-5491a7f596d0{
    background: #f7f7f7;
}
#template-index .featured-collection-section .product__grid-item,
#template-page-circufiber-challenge-lp .featured-collection-section .product__grid-item  {
    background:#ffffff;
}
#template-page-circufiber-challenge-lp .featured-collection-section
{
    background: #f7f7f7;
}

.slideshow-classic .mobile-text--over-media.free-shipping-over-banner .caption {
  transform: translate(-20%,-50%) !important;
}

@media (max-width: 1024px){
  .slideshow-classic .mobile-text--over-media.free-shipping-over-banner .caption {
    transform: translate(-18%,-50%) !important;
  }
}

@media (max-width: 834px){
  .slideshow-classic .mobile-text--over-media.free-shipping-over-banner .caption {
    transform: translate(-9%,-50%) !important;
  }
}


@media (max-width: 798px){
  .slideshow-classic .mobile-text--over-media.free-shipping-over-banner .caption {
    transform: translate(-0%,0%) !important; 
  }
  .homepage-slider .mobile-text--over-media.free-shipping-over-banner p.title,
  .homepage-slider .mobile-text--over-media.free-shipping-over-banner p {
    color:#0a3a5b !important;
  }
}




@media (max-width: 767px){
    section.section.our.promise.section.is-width-standard.has-background .image-with-text__text-column.image-with-text__column.one-half.medium-down--one-whole.column.has-padding-left.has-padding-right.has-background.is-flex.is-flex-wrap.is-justify-center.is-align-center {
        padding: 20px;
    }  
    section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere {
        display: flex;
    }
    section.section.socktextandimagesection.is-width-standard.has-gutter-enabled img.transition--color.image-with-text__image {
        height: auto !important;
        object-fit: contain;
    }
    section.section.socktextandimagesection.is-width-standard.has-gutter-enabled {
        padding-top: 0px;
    }
    section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard {
        padding-bottom: 0px;
    } 
    section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container.flickity-resize.flickity-enabled.is-draggable .testimonial__image.has-image-crop.image-style--circle {
        margin-top: -30px;
    }
    section.section.tophealthexpertsectioncontentarea.is-width-standard .testimonials.container .testimonial__name {
        padding-bottom: inherit;
        padding-top: 90px !important;
    }
    section.section.tophealthexpertsection.is-width-standard .title {
        font-size:40px;
    }
    .row {
        display: grid;
    }
    .columntryriskone {
        width: auto !important;
    }

    section.section.thecircufiberdifference.is-width-standard, section.section.thecircufiberdifferenceimagesection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim, section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled, section.section.socktextandimagesection.is-width-standard.has-gutter-enabled, section.section.Meet.the.World\'s.Most.Scientifically.\<br\>.Advanced.Diabetic.Sock.title.is-width-standard, section.section.acceptedsection.is-width-standard.has-gutter-enabled, section.section.sockimagesection.is-width-standard.has-gutter-enabled, section.section.tophealthexpertsection.is-width-standard {
        padding-top: inherit;padding-bottom: inherit;
    }
    section.section.oversatisfycustomersection.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .is-align-center {
        align-items: end;
    } 
    section.section.freeshippingsection.is-width-standard.has-background .columntryriskone{width: auto;}
    section.section.our.promise.section.is-width-standard.has-background section.section.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .container {
        display: block;
    }
    section.section.our.promise.section.is-width-standard.has-background section.section.is-width-wide.has-gutter-enabled.equal-columns--outside-trim.animated.fadeIn .one-half {
        width: auto;
    }  
    .image-with-text .has-gutter-enabled .image-with-text__column:not(:last-child) {
        margin-bottom: 0px;
    }  
    .disclaimer br {
        display:none;
    }
}
section.section.ourpromisesectionfullwidth.is-width-wide.has-background {
    margin: 0px !important;
    padding: 0px;
}
.ourpromisesection{
    display: flex;
}
.ourpromiseimagesection {
  float: left;
  width: 50%;
}
.ourpromisetextsection {
  float: right;
  width: 50%;
  background-color: #193958;
  color:#fff;
}
.ourpromisetextsection h2 {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.ourpromisetextsection {
    padding-left: 100px;
    padding-right: 100px;
}
.ourpromisetextsection p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
.ourpromiseimagesection img{width:100%;}
.circufiber-challenge-logo {
    margin: 30px auto 0 auto;
}
.challenge-howitworks {
    max-width:900px;
}
.challenge-howitworks-icons {
    margin:30px auto 75px auto;
}
.challenge-ourpromise .content p {
    font-size: 18px;
}
.blue-bg {
    background-color: #193958;
}
.moneyback-image {
    max-width:250px;
    margin:60px auto 0 auto;
    display: block;
}

.challenge-shopall-btn .buttons .button--primary {
    background-color:unset !important;
    border:0;
    color:#0a3a5b !important;
    text-decoration:underline;
}
.challenge-shopall-btn .buttons .button--primary:hover {
    color: #fff !important;
    background-color: #0a3a5b !important;
    border-color: #0a3a5b !important;
}
.reviewscrllsection {
    padding-top:35px;
}
.page-circufiber-challenge-new .okeReviews-reviewsCarousel-review-reviewer .okeReviews-reviewsCarousel-review-reviewer-avatar,
.page-circufiber-challenge-lp .okeReviews-reviewsCarousel-review-reviewer .okeReviews-reviewsCarousel-review-reviewer-avatar,
.page-circufiber-challenge .okeReviews-reviewsCarousel-review-reviewer .okeReviews-reviewsCarousel-review-reviewer-avatar{
    display:none !important;
}
.page-circufiber-challenge-new .okeReviews .okeReviews-reviewsCarousel-review-content-body,
.page-circufiber-challenge .okeReviews .okeReviews-reviewsCarousel-review-content-body,
.page-circufiber-challenge-lp .okeReviews .okeReviews-reviewsCarousel-review-content-body {
    min-height:80px;
}

#shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37 .image-element__wrap {
    width:75px;
}


@media(max-width:480px) {
    section.section.whyweeksgirlbgsection.is-width-standard.has-background {
        background-position: 47% 0px;
    }
    section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere p {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
      }

    section.section.thecircufiberdifference.is-width-standard {
    background: #193958;
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    }
    .circufiber-difference .is-flex {
        display: flex;
        gap: 20px;
        padding-bottom: 60px !important;
    }
    .circufiber-difference .image-element__wrap {
        width:150px;
    }
    section.section.Meet.the.World\'s.Most.Scientifically.Advanced.Diabetic.Sock.title.is-width-wide h2.heading-section__heading.title {
        font-size:33px;
    }
    h2.title {
        font-size: 24px;
    }
}



.shipping-delay-message {
    padding: 10px;
    background: #0a3a5b;
    text-align:center;
}


.shipping-delay-message p {
    color:#fff;
    font-size:13px;
}


.challenge-slider .image-slideshow .slider-step-intro .caption {
    top:38%;
    right: 19%;
}

.challenge-slider .image-slideshow .slider-step1 .caption {
    top: 24%;
    max-width: 1336px;
    margin: 0 auto;
    right: 18%;
  }


  .challenge-slider .image-slideshow .slider-step2 .caption {
    top: 24%;
    max-width: 1336px;
    margin: 0 auto;
    right: 28%;
  }

  .challenge-slider .image-slideshow .slider-step3 .caption.text-align-left {
    left: 10%;
    top:24%;
}

.challenge-slider .slideshow-classic__preheading {
    font-weight:700;
    font-size:26px;
  }



/* New Homepage Carousel Banner */
.homepage-slider img {
    min-height: 50vh !important;
    object-fit: cover;
    object-position: center;
}
.homepage-slider .image-element__wrap {
    width: 100%;
    height: 455px;
  }
.homepage-slider .cf-challenge-slider .header_image {
    top: -25% !important;
    position:absolute !important;
    right:10%;
}
.homepage-slider .cf-challenge-slider .header_image .image-element__wrap {
    max-width: 200px !important;
}
.homepage-slider .cf-challenge-slider .header_image img{
    min-height: 150px !important;
    object-fit: contain !important;
}
.homepage-slider .cf-challenge-slider h2 br {
    display:none;
}
.homepage-slider p.title {
    font-weight:700;
    font-size:48px !important;
}
.homepage-slider .cf-challenge-slider .caption {
    top: 54% !important;
    left:10%;
}
.homepage-slider .new-light-socks .caption {
    left: 10%;
}
.homepage-slider .caption-content {
    width: 100% !important;
}
.homepage-slider .subtitle {
    font-size:43px !important;
}
.homepage-slider a.button--secondary {
    max-width:200px;
    width:100%;
    padding:15px 20px;
    background:#fff;
    color:#0a3a5b;
    border:0px;
    font-weight:700;
    border-radius: 50px;
    -webkit-border-radius:50px;
}
.homepage-slider a.button--secondary:hover {
    background:#0a3a5b;
    color:#fff;
}
.section.homebanner .image-with-text-overlay__banner img {
    min-height: 50vh !important;
    object-fit: cover;
    object-position: center;
}
.section.homebanner .header_image {
    top: 5% !important;
    position:absolute !important;
    right:2%;
}
.section.homebanner .header_image .image-element__wrap {
    max-width: 200px !important;
}
.section.homebanner .header_image img{
    min-height: 150px !important;
    object-fit: contain !important;
}
.section.homebanner .caption.align-middle{
    top: 54% !important;
    left:10%;
}
.section.section.homebanner .banner__heading {
    margin-bottom:15px !important;
}
.section.homebanner .caption-content {
    width: 100% !important;
}
.section.homebanner .title span br {
    display:none !important;
}
.section.homebanner .title span {
    font-weight:700;
    font-size:48px !important;
}
.section.homebanner .banner__subheading.subtitle {
    font-size:43px !important;
}
.section.homebanner a.button--primary.button {
    max-width:200px;
    padding:15px 20px;
    background:#fff;
    color:#0a3a5b;
    border:0px;
    font-weight:700;
}
.section.homebanner a.button--primary.button:hover {
    background:#0a3a5b;
    color:#fff;
}

 .homepage-slider p {
   color:white;
 }
.homepage-slider .new-year-new-you .caption {
  max-width: 70%;
}

.template-index .heading-section .heading-section__subheading {
  max-width:1280px;
}




/************************* responsive *************************/

/****** WIDE ******/




@media (min-width:1441px) {
    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: 650px;
        object-fit: cover;
    }
}


@media (min-width:1600px) {
    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: 700px;
        object-fit: cover;
    }
    .featured-collection.layout--grid.is-justify-center {
        max-width:1600px;
        margin: 0 auto;
    }
    .homepage-slider .cf-challenge-slider .header_image {
        top: -25% !important;
        position: absolute !important;
        right: 15%;
    }
}

@media (min-width:1920px) {
    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: 800px;
        object-fit: cover;
    }
    .challenge-slider .image-slideshow .slider-step-intro .caption {
        top: 20%;
        right: 19%;
    }
    .challenge-slider .header_image {
        max-width: 500px;
        position: absolute;
        top: 0;
        right: 0;
      }
      .section.homebanner .header_image {
        right: 10% !important;
      }
      .section.homebanner .caption.align-middle {
        top: 50% !important;
        left: 5% !important;
      }
      .homepage-slider .cf-challenge-slider .header_image {
        right: 20%;
    }


}
@media (min-width:2100px) {
    .section.homebanner .caption.align-middle {
        top: 50% !important;
        left: 3% !important;
      }
    .section.homebanner .header_image {
        right: 20% !important;
      }
  
}
@media (min-width:1601px) {
  .homepage-slider .free-shipping-over-banner .image-element__wrap {
        height: 700px;
  }

}
/****** DESKTOP/LAPTOP/TABLET ******/

@media (max-width:1440px) {

    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: auto;
        object-fit: contain;
    }

}

@media (max-width:1366px) {
    .section.homebanner .title span {
        font-weight: 700;
        font-size: 42px !important;
    }
    .section.homebanner .banner__subheading.subtitle {
        font-size: 39px !important;
    }

}


@media (max-width:1280px) {

    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: 550px;
        object-fit: cover;
    }

    .challenge-slider .image-slideshow .slider-step1 .caption {
        top: 30%;

    }

    .challenge-slider .image-slideshow .slider-step2 .caption {
        top: 25%;
    }
    .challenge-slider .image-slideshow .slider-step1 .caption-content,
    .challenge-slider .image-slideshow .slider-step2 .caption-content {
        width: auto !important;
    }

    .challenge-slider .header_image {
        max-width: 350px;
    }
    .section.homebanner .caption.align-middle {
        top: 60% !important;
        left: 10%;
    }
    .homepage-slider .new-light-socks .caption {
        left: 15%;
    }
    .homepage-slider .cf-challenge-slider .caption {
        left: 5%;
    }


}


@media (max-width:1024px) {

    .challenge-slider .image-slideshow .slider-step-intro .caption {
        top: 38%;
        right: 10%;
      }

    .challenge-slider .image-slideshow .caption-content {
        width:auto !important;
    }
    .challenge-slider .image-slideshow .slider-step1 .caption {
        top: 45%;
        right: 10%;
      }
      .challenge-slider .image-slideshow .slider-step2 .caption {
        top: 31%;
        right:22%;
      }
      .challenge-slider .image-slideshow .slider-step2 .caption-content {
        width: auto !important;
      }
      .section.homebanner .caption.align-middle {
        top: 50% !important;
        left: 0%;
      }
      .homepage-slider .new-light-socks .caption {
        left: unset;
      }
     .homepage-slider .cf-challenge-slider .caption {
        left: unset;
        top:65% !important;
     }
     .homepage-slider .cf-challenge-slider .header_image {
        top: -50% !important
     }

}


@media (max-width:991px) {

    .challenge-header .image-element__wrap,
    .challenge-header .image-element__wrap img {
        height: auto;
        object-fit: cover;
    }
    .challenge-slider .header_image {
        max-width: 300px;
    }
    .section.homebanner .image-with-text-overlay__banner img {
        min-height: 50vh !important;
        object-fit: cover;
        object-position: left;
    }
    .section.homebanner .header_image img {
        min-height: 150px !important;
        object-fit: contain !important;
    }
    .section.homebanner .caption.align-middle {
        top: 65% !important;
    }

}
@media(max-width:834px){
    .challenge-slider .image-slideshow .slider-step-intro .caption {
        top: 42%;
        right: 4%;
    }
   .challenge-slider .slideshow-classic__banner p.title {
        font-size: 45px;
    }
    .challenge-slider .slideshow-classic__subheading {
        font-size:30px;
    }
    .challenge-slider .image-slideshow .slider-step3 .caption.text-align-left {
    top: 75% !important;
    }
    .challenge-slider .header_image {
        max-width: 250px;
        top: -75px;
        right: 50px;
    }
    .section.homebanner .caption.align-middle {
        top: 60% !important;
        left: 0%;
    }
    .section.homebanner .image-with-text-overlay__banner img {
        min-height: 50vh !important;
        object-fit: cover;
        object-position: center;
    }
    .section.homebanner .header_image img {
        min-height: 150px !important;
        object-fit: contain !important;
    }
    .section.homebanner .caption.align-middle {
        top: 73% !important;
        left: 0%;
    }
  .homepage-slider .new-year-new-you .caption {
    max-width: 100%;
  }

}






/****** MOBILE ******/

@media(max-width:798px){

    .jsTopBarSlider .navbar-item {
        display:flex;
    }

    .challenge-slider .image-slideshow .caption {
        position:absolute !important;
    }
    .challenge-slider .image-slideshow .slider-step-intro .caption,
    .challenge-slider .image-slideshow .slider-step1 .caption,
    .challenge-slider .image-slideshow .slider-step2 .caption {
        left: 50%;
        top: unset;
        right:unset;
        bottom:unset;
        transform: translate(-50%, -105%);
        text-align: center;
    }
    .challenge-slider .image-slideshow .slider-step3 .caption.text-align-left {
        left: 50%;
        top: unset;
        right:unset;
        bottom:unset;
        transform: translate(-50%, -250%);
        text-align: center;
    }
    .challenge-slider .image-slideshow .slider-step-intro .caption-content {
        width:100% !important;
    }
    .challenge-slider .slideshow-classic__banner p.title {
        font-size: 39px !important;
    }
    .challenge-slider .slideshow-classic__banner p.title span,
    .challenge-slider .slideshow-classic__banner p.title span p {
        font-size:unset !important;
    }
    .challenge-slider .slideshow-classic__subheading {
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 28px !important;
    }
    .challenge-slider .header_image {
        max-width: 80%;
        top: 70px;
        right: unset;
        position: relative;
        margin: 0 auto;
    }
    .homepage-slider .image-element__wrap {
        width: 100%;
        height: auto;
    }
    .homepage-slider .cf-challenge-slider .header_image {
        top: -25% !important;
        position: relative !important;
        right: unset;
        left: unset;
    }
    .homepage-slider .mobile-shrink-text p {
        font-size: 48px;
    }
  .homepage-slider .new-year-new-you .caption {
    top: 70%;
  }
  .homepage-slider .new-year-new-you .mobile-shrink-text span {
    font-size: 40px;
  }


}

@media(max-width:768px) {
    .circufiber-difference .is-flex {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      section.section.thecircufiberdifferencecontentsection.is-width-standard.has-gutter-enabled .container {
        max-width: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37 {
        padding: 0;
        margin-left: 50px;
        margin-bottom:60px;
    }

    #shopify-section-template--16743286538461__0a568d1e-18d0-47ff-8252-72558db5fab0 {
        min-height:500px;
    }
    .testimonials .flickity-slider .medium-down--sixteen, 
    .testimonials .flickity-slider .medium-down--one-whole {
        width: 33%;
      }
      section.section.acceptedsection.is-width-standard.has-gutter-enabled p {
        font-size: 18px;
        text-align: center;
      }
      .row.tryrisk {
        flex-direction: column;
        gap:50px;
      }
      .columntryriskone {
        float: none;
        width: 100% !important;
        padding: 10px;
      }
      .footebannergirlsection .caption {
        width:100%
      }
      .footebannergirlsection .image-with-text-overlay__buttons .button {
        flex: 0 0 calc(80% - 6px);
      }

      #shopify-section-template--16743286538461__0a568d1e-18d0-47ff-8252-72558db5fab0 {
        min-height:300px;
    }
    .image-with-text__image-column.has-image-crop:not(.image-crop--none) {
        height: auto;
      }
      section.section.whyweeksgirlbgsection.is-width-standard.has-background {
        background-image: url(https://cdn.shopify.com/s/files/1/0484/4689/8340/files/why2weeks-mobile-blank.jpg?v=1688411619);
        min-height: 85vh;
        height:100%;
        background-size: cover;
        object-fit: cover;
        background-position: right;
    }
    section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere .columnweeksecone {
        text-align: center;
        max-width: 100%;
    }
    section.section.whyweeksgirlbgsection.is-width-standard.has-background .row.whyweekhere .columnweeksectwo {
        text-align: center;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        text-align: center;
        float: left;
    }
    .circufiber-difference .is-flex {
        display: flex;
        gap: 0px;
    }
    .cust-card {
        margin-bottom: 20px;
    }
    .circufiber-customer-reviews {
        gap: 0;
        padding: 60px 0 0 0;    
    }
    .testimonial-block {
        margin-bottom: 0px;
    }
}
/* Mobile 640 */
@media(max-width:640px) {
    .homepage-slider .cf-challenge-slider h2 br {
        display: block;
    }
    .homepage-slider .new-light-socks .caption {
        top: 64%;
    }
    .circufiber-selling-features .text-align-left {
        text-align:center;
    }
    .circufiber-selling-features .is-large {
        height: 8.4rem !important;
        width: 8.4rem !important;
    }
    #template-index .featured-collection-section .small-down--one-half {
        width: 100%;
    }
    .tophealthexpertsectioncontentarea .flickity-slider {
        left: unset !important;
        transform: none !important;
      }
      .testimonials .flickity-slider .medium-down--sixteen, .template-index 
      .testimonials .flickity-slider .medium-down--one-whole {
        width: 100% !important;
      }
      .template-index .testimonials .flickity-viewport {
        min-height: 500px !important;
    }
    
}




/* Mobile 480 */
@media (max-width:480px)  {
    .challenge-slider .image-slideshow .caption {
        position:absolute !important;
    }
    .challenge-slider .image-slideshow .slider-step-intro .caption {
        left: 50%;
        top: unset;
        right:unset;
        bottom:unset;
        transform: translate(-50%, -105%);
        text-align: center;
    }
    .challenge-slider .image-slideshow .slider-step-intro .caption-content {
        width:100% !important;
    }
    .challenge-slider .slideshow-classic__banner p.title {
        font-size: 39px !important;
    }
    .challenge-slider .slideshow-classic__banner p.title span,
    .challenge-slider .slideshow-classic__banner p.title span p {
        font-size:unset !important;
    }
    .challenge-slider .slideshow-classic__subheading {
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 28px !important;
    }
    section.section.whyweeksgirlbgsection.is-width-standard.has-background {
        height: auto;
    }
    .footebannergirlsection .caption {
        position:absolute !important;
        top:33%;
    }
    .footebannergirlsection .caption-content {
        width: 100% !important;
    }
    .challenge-slider .header_image {
        max-width: 70%;
        top: 45px;
        right: unset;
        position: relative;
        margin: 0 auto;
    }
    .section.homebanner .header_image {
        top: 2% !important;
        position: absolute !important;
        right: 2%;
    }
    .section.homebanner .title span br {
        display:inline-block !important;
    }
    .section.homebanner .image-with-text-overlay__heading {
        margin-bottom:30px !important;
    }
    .section.home-featuredproducts .medium-down--one-half {
        width: 100% !important;
    }
    .homepage-slider .mobile-shrink-text p {
        font-size: 40px;
    }
    .homepage-slider .subtitle {
        font-size: 40px !important;
    }
    .homepage-slider .cf-challenge-slider .caption {
        top: 60% !important;
    }
    .homepage-slider .free-shipping-over-banner .subtitle {
      font-size: 30px !important;
    }
}

/* Mobile 414px */
@media (max-width:414px)  {
    .challenge-slider .image-slideshow .slider-step3 .caption.text-align-left {
        top: 95% !important;
    }
    .challenge-slider .header_image {
        max-width: 70%;
        top: 45px;
        right: unset;
        position: relative;
        margin: 0 auto;
    }
    .section.homebanner .banner__subheading.subtitle {
        font-size: 33px !important;
    }
    .section.homebanner .header_image img {
        min-height: 125px !important;
        object-fit: contain !important;
    }
    .section.homebanner .header_image .image-element__wrap {
        max-width: 160px !important;
    }
    .homepage-slider .mobile-shrink-text p {
        font-size: 35px;
    }
    .homepage-slider .subtitle {
        font-size: 30px !important;
    }
    .homepage-slider .new-light-socks .caption {
        top: 75%;
    }
    .homepage-slider .free-shipping-over-banner .subtitle {
      font-size: 25px !important;
    }
    .homepage-slider .new-year-new-you .mobile-shrink-text span {
      font-size: 34px;
    }
}
@media (max-width:390px)  {
.homepage-slider .new-year-new-you .mobile-shrink-text span {
      font-size: 30px;
    }
}

/* Mobile 375 */
@media (max-width:375px)  {
    .challenge-slider .image-slideshow .slider-step3 .caption.text-align-left {
        top: 95% !important;
      }
    .section.homebanner .title span {
        font-weight: 700;
        font-size: 35px !important;
    }
    .section.homebanner .banner__subheading.subtitle {
        font-size: 29px !important;
    }
    .section.homebanner a.button--primary.button {
        max-width: 200px;
        padding: 10px 20px;
    }
    .homepage-slider .cf-challenge-slider .caption {
        top: 50% !important;
    }
    .homepage-slider .mobile-shrink-text p {
        font-size: 33px;
    }
    .homepage-slider .new-light-socks .caption {
        top: 70%;
    }
    .homepage-slider .new-light-socks .mobile-shrink-text p {
        font-size: 31px;
    }
    .homepage-slider .subtitle {
        font-size: 25px !important;
    }
  .homepage-slider .free-shipping-over-banner .subtitle {
      font-size: 22px !important;
    }
}
/* Mobile 360 */
@media (max-width:360px)  {
    .homepage-slider .new-light-socks .mobile-shrink-text p {
        font-size: 29px;
    }
}

/* Mobile 320 */
@media (max-width:320px)  {
    .homepage-slider .new-light-socks .mobile-shrink-text p {
        font-size: 25px;
    }
    .homepage-slider .subtitle {
        font-size: 24px !important;
    }
    .challenge-slider .slideshow-classic__banner p.title {
        font-size: 33px !important;
      }

    .challenge-slider .slideshow-classic__subheading {
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 21px !important;
    }
    .section.homebanner .title span {
        font-weight: 700;
        font-size: 30px !important;
    }
    .section.homebanner .banner__subheading.subtitle {
        font-size: 25px !important;
    }

}


/*------------Product custom tag start By : MM on Dt: 14-07-2023 -------------------------*/
.grid-product__tag{
    position: relative;
}
.grid-product__tag--custom
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px; 
    line-height: 1;
    padding: 8px;
    border-radius: 15px;
    background-color: #dde1e6;
    color: #000; 
    text-transform: capitalize; 
    z-index: 99;
}
.grid-product__tag--custom.productDetail
{
    position: relative;
    width: auto;
    display: inline-block;
    right: 0 !important;
}
.thumbnail-swatch .swatch_option_color span{
  background-color: #dde1e6;
}
.thumbnail-swatch .swatch_option_color span.color_tan {
  background-color: #000;
}
.thumbnail-swatch .swatch_option_color span.color_mineral_white{
 background-color: #FFF;
}
.thumbnail-swatch .swatch_option_color span {
    border: 1px solid #fff;
    min-height: 20px;
    min-width: 20px;
}
.swatch_color_option{
  
}
/*------------Product custom tag end By : MM on Dt: 14-07-2023 -------------------------*/

.custom-images-text-list h2.heading-section__heading {
  font-weight: 700;
  font-size: 34px;
   margin-top: 10px;
}

.custom-images-text-list .custom-image-text img{
  max-width: 150px;
}
.custom-images-text-list .custom-image-text .subtext-custom *{
  overflow-wrap: break-word;
  font-size: 14px;
  color: #0a3a5b;
  font-weight: 500;
}
.custom-images-text-list .section{
  margin-bottom:25px;
}
.custom-images-text-list h3.image__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: normal;
}

